<% if object.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= t("errors.messages.not_saved", count: object.errors.count, resource: object.class.model_name.human.downcase) %></strong>
    <ul class="mb-0 mt-1">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
