<% cfg = @badge_config || BadgeConfig.defaults %>
<% layout = cfg.layout.presence || "classic" %>
<% @members.each_slice(4) do |group| %>
<div style="page-break-after: always; height: 257mm; display: -webkit-box; display: flex; -webkit-box-orient: vertical; flex-direction: column; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center;">
  <% group.each_slice(2).each_with_index do |row, row_idx| %>
  <div style="display: -webkit-box; display: flex; -webkit-box-pack: center; justify-content: center;<%= row_idx > 0 ? ' margin-top: 10mm;' : '' %>">
    <% row.each_with_index do |m, col_idx| %>
    <% chip_label = m[:is_coordinator] ? "Coordenador" : (m[:function_name].presence || "Colaborador") %>
    <div style="width: 80mm; height: 123.5mm; overflow: hidden;<%= col_idx > 0 ? ' margin-left: 10mm;' : '' %>">
      <%= render "shared/badge_layouts/#{layout}",
          user: m[:user],
          event: @event,
          team: m[:team],
          cfg: cfg,
          is_coordinator: m[:is_coordinator],
          avatar_base64: m[:avatar_base64],
          credential_code: m[:credential_code],
          chip_label: chip_label %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>
