<div class="page-header">
  <h1>Editar — <%= @empresa.name %></h1>
  <%= link_to empresa_path(@empresa), class:"btn-secondary" do %>
    <i class="bi bi-arrow-left"></i> Voltar
  <% end %>
</div>
<%= render "form", empresa: @empresa %>
